@import url('https://fonts.googleapis.com/css?family=Raleway&effect=outline|3d-float');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body{
	-webkit-animation: fadein 1s;
	text-align: center;
	font-family: 'Raleway', cursive;
	overflow: hidden;
	position: absolute;
	border: 0.5vw solid white;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: black;
	color: white;
	margin: 1vw;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


h1{
	font-size: 6vw;
	margin-bottom: 0;
}  	

h2{
	color: #686767;
}

h3{
	font-size: 3vw;
	margin-bottom: 0;
}

canvas{
	position: fixed;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	width: 100%;
	z-index: -1;
}

#header{
	position: fixed;
	top: 10%;
	width: 100%;
}

#aboutMe{
	-webkit-animation: fadein 3s;
	position: fixed;
	width: 50%;
	bottom: 20%;
	left:0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	font-size: 100%;
	display: none;
}

#aboutMe{
	line-height: 3vw;
	font-size: 100%;
}

#subtitle{
	text-align: center;
	color: white;
}

#footer{
	margin: 0 auto;
	padding-top: 0.5vw;
	padding-bottom: 2vw;
	color: #a8a8a8;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 1%;
	width: 95%;
	text-align: center;
}

a.title, a.title:link, a.title:visited{
	text-decoration:none;
	color: white;
	transition-duration: 0.4s;
}

a.button:link, a.button:visited {
    color: white;
    border: 2px solid white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 6px;
    font-family: 'Raleway', cursive;
	margin: 3vw;
}


a.button:hover, a.button:active {
   border: 2px solid grey;
   padding: 10px 20px;
   color: grey;
}


a.headerLinks:link, a.headerLinks:visited{
	text-decoration:none;
	padding: 2vw;
	padding-top: 1vw;
	-webkit-transition-duration: 0.4s; /* Safari */
	align-self: center;
}

a.title:hover, a.headerLinks:hover {
	transition-duration: 0.4s;
	color: grey;
	font-size: 120%;
}

.headerimg{
	width: 30px;
	transition-duration: 0.4s;
}

.headerimg:hover{
	transition-duration: 0.4s;
	width: 50px;
}

#headerText{
	position: fixed;
	right: 2vw;
	bottom: 1.5vw;
}

#footerText{
	position: fixed;
	font-size: 50%;
	right: 2vw;
	bottom: 1.5vw;
}

#project1description{
	text-align: center;
	color: white;
	word-break: break-all;
}


/* Popup box BEGIN */
.hover_bkgr_fricc{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_fricc > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}
/* Popup box BEGIN */

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(90, 88, 88, 0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: rgb(0, 0, 0);
	/* background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999); */
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #000000; }